{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h1>Welcome to MovieWeb App!</h1>
    <p>Manage your favorite movies with ease.</p>
</div>



<!-- data-panel -->
<div class="container mt-5 ">
    <!--search bar-->
    <div class="row" id="search-bar">
        <form method="GET" action="{{ url_for('movie_bp.home') }}" class="form-inline">
            <div class="row">
                <div class="col-lg-4">
                    <input type="text" class="form-control mb-2 mr-sm-2" name="search" value="{{ search_query }}" placeholder="Search name...">
                </div>
                <div class="col-lg-4">
                    <select class="form-control mb-2 mr-sm-2" name="sort_by">
                        <option value="rating" {% if request.args.get('sort_by') == 'rating' %}selected{% endif %}>Rating</option>
                        <option value="year" {% if request.args.get('sort_by') == 'year' %}selected{% endif %}>Year</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <select class="form-control mb-2 mr-sm-2" name="sort_order">
                        <option value="asc" {% if request.args.get('sort_order') == 'asc' %}selected{% endif %}>ASC</option>
                        <option value="desc" {% if request.args.get('sort_order') == 'desc' %}selected{% endif %}>DESC</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-primary mb-2">Search</button>

                </div>
            </div>

        </form>

    </div>



    <!--veiw-->
    <div class="viewbox  ">
        <div class="view" ><i class="fa fa-bars" id="btn-listModel" aria-hidden="true"></i></div>
        <div class="view"><i class="fa fa-th" aria-hidden="true"></i></div>

    </div>

    <div class="clearfix"></div>



    <!-- data-panel -->
    <div class="row" id="data-panel">
        {% for movie in movies %}
        <div class="col-sm-3">
            <div class="card mb-2">
                <img class="card-img-top" src="{{ movie.poster }}" alt="{{ movie.name }}">
                <div class="card-body movie-item-body">
                    <h6 class="card-title">{{ movie.name }}</h6>
                    <p class="card-text">Rating: {{ movie.rating }}</p>
                    <p class="card-text">Year: {{ movie.year }}</p>
                </div>
                <!-- "More" button -->
                <div class="card-footer">
                    <button class="btn btn-primary btn-show-movie" data-toggle="modal" data-target="#show-movie-modal" data-id="{{ movie.id }}">More</button>
                    <button class="btn btn-info btn-add-favorite" data-id="{{ movie.id }}">+</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>



</div>



<!-- Pagination -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center" id="pagination">
        {% if current_page > 1 %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('movie_bp.home', page=current_page-1, search=search_query, sort_by=request.args.get('sort_by', 'rating'), sort_order=request.args.get('sort_order', 'asc')) }}">Previous</a>
        </li>
        {% endif %}

        {% for page_num in range(1, pages + 1) %}
        <li class="page-item {% if page_num == current_page %}active{% endif %}">
            <a class="page-link" href="{{ url_for('movie_bp.home', page=page_num, search=search_query, sort_by=request.args.get('sort_by', 'rating'), sort_order=request.args.get('sort_order', 'asc')) }}">{{ page_num }}</a>
        </li>
        {% endfor %}

        {% if current_page < pages %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('movie_bp.home', page=current_page+1, search=search_query, sort_by=request.args.get('sort_by', 'rating'), sort_order=request.args.get('sort_order', 'asc')) }}">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>



{% endblock %}
