{% extends "base.html" %}

{% block content %}
<h1>Users List</h1>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>
            <a href="{{ url_for('user_movies', user_id=user.id) }}" class="btn btn-primary">View Movies</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
